@import "/src/common/common";

.ram-resident-card {
  display: flex;
  flex: 1 0 400px;
  min-height: 200px;
  max-width: 600px;
  box-shadow: $ram-soft-shadow-green;
  background-color: $ram-colors-green-3;
  border-radius: 8px;
  position: relative;

  .ram-resident-card-img {
    border-radius: 8px 0 0 8px;
    // width: 100%;
    height: 100%;
    width: 200px;
    object-fit: cover;
  }

  .ram-resident-card-status {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(#fff, 0.9);
    border: none;
  }

  .ram-resident-card-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 10px;

    .ram-resident-card-title {
      margin: 5px 0;
      font-size: 18px;
      font-weight: 500;
    }

    .ram-resident-card-item {
      flex: 1 1;

      .ram-resident-card-item-label {
        font-size: 12px;
        font-weight: 500;
        color: $ram-colors-green-1;
      }

      // .ram-resident-card-item-data {
      //   // white-space: nowrap;
      //   // text-overflow: ellipsis;
      // }
    }
  }
}

@media only screen and (max-width: 450px) {
  .ram-resident-card {
    flex-direction: column;
    flex-basis: auto;
    width: 100%;

    .ram-resident-card-img {
      border-radius: 8px 8px 0 0;
      width: 100%;
      max-height: 250px;
      overflow: hidden;
      // max-width: unset;
    }
  }
}
