.ram-navbar-outer-container {
  position: sticky;
  top: 20px;
  margin-bottom: 20px;
  z-index: 99;

  .ram-navbar-inner-container {
    display: flex;
    color: #fff;
    height: 80px;

    .ram-navbar-start,
    .ram-navbar-end {
      height: 100%;
      object-fit: contain;
    }

    .ram-navbar {
      display: flex;
      flex-wrap: wrap;
      height: 80px;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      gap: 0 10px;
      background-image: url("navbar_middle.png");
      background-size: cover;

      .ram-navbar-item {
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
        text-shadow: 0 0 10px #00000050;
        padding: 0 5px;

        &.selected {
          margin-top: 2px;
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}
